@include component('breadcrumb') {
    background: #f8f8f8;
    text-align: right;
    padding: 0px 20px;
    @include modifier('m70') {
        margin-bottom: 70px;
    }

    ul {
        li {
            display: inline-block;
            line-height: 46px;
            a {
                color: #777777;
            }
        }
    }
}

@include component('blog') {
    @include element('title') {
        background: $color_brand2;
        padding: 50px 10px;
        text-align: center;
        position: relative;

        p {
            color: #fff;
            font-size: 16px;
            margin-bottom: 0px;
        }

        h1 {
            font-size: 35px;
            color: #fff;
            font-weight: 300;

            strong {
                font-weight: 700;
            }
        }

        &:after {
            position: absolute;
            bottom: 0px;
            left: 50%;
            transform: translateX(-50%);
            width: 200px;
            background: #fff;
            height: 7px;
            content: '';
        }
    }

    @include element('filtros') {
        background: $color_brand;
        @media(max-width: 1300px) {
            overflow-y:scroll;
        }       
        
        &::-webkit-scrollbar { 
            display: none; 
        }        

        ul {
            display: flex;
            padding: 20px 0px;
            @media(max-width: 1300px) {
                min-width: 1300px;
            }

            li {
                flex-grow: 9;
                position: relative;

                &:after {
                    height: 70%;
                    width: 1px;
                    background: rgba(255, 255, 255, 0.6);
                    position: absolute;
                    right: 0px;
                    top: 50%;
                    transform: translateY(-50%);
                    content: '';
                }

                &:last-child {
                    &:after {
                        display: none;
                    }
                }

                a {
                    text-align: center;
                    color: #fff;
                    display: block;
                    line-height: 35px;
                    vertical-align: middle;
                    width: 100%;

                    span {
                        display: inline-block;
                        width: 31px;
                        vertical-align: middle;
                        line-height: 0px;
                        margin-right: 10px;
                        @media(max-width: 992px) {
                            display: none;
                        }                        
                    }

                    &:hover {
                        text-decoration: none;
                        color: $color_brand2;
                    }
                }
            }
        }
    }

    @include element('orangeTitle') {
        padding-bottom: 33px;
        margin-bottom: 33px;
        position: relative;

        strong {
            font-size: 25px;
            color: #fff;
            background: $color_brand2;
            line-height: 45px;
            display: inline-block;
            padding: 0px 36px 0px 45px;
            border-right: 9px solid $color_brand;        
        }   

        &:after {
            height: 1px;
            background: #6db9da;
            content: '';
            position: absolute;
            left: 0px;
            bottom: 0px;
            width: 100%;
        }
    }

    @include element('content') {
        text-align: center;
        padding: 40px 0px;

        p {
            font-size: 14px;
            color: #666666;
            font-weight: 300;
            max-width: 640px;
            margin: 0px auto 50px;
            line-height: 24px;
        }
    }

    @include element('articles') {
        height: 1%;
        overflow: hidden;
        padding-bottom: 40px;
        visibility: hidden;

        &:after {
            content: '';
            display: block;
            clear: both;            
        }
    }

    @include element('article') {
        float: left;
        padding: 0px 20px;
        margin-bottom: 30px;
        width: 25%;
        @media(max-width: 992px) {
            margin-bottom: 40px;
            width: 50%;
        }        
        @media(max-width: 700px) {
            width: 100%;
        }
    }

    @include element('article-image') {
        img {
            width: 100%;
        }
    }
    
    @include element('article-inner') {
        box-shadow: 0 3px 40px rgba(0,0,0,0.10), 0 10px 10px rgba(0,0,0,0.10);
        border-bottom: 16px solid $color_brand2;
    }

    @include element('article-info') {
        background: #fff;
        padding: 28px 20px 30px;
        text-align: left;

        h2 {
            font-size: 20px;
            line-height: 26px;
            color: #666666;
            font-weight: 300;
            margin-bottom: 8px;
            text-align: left;
        }

        span {
            font-size: 13px;
            color: #777777;
            margin-bottom: 10px;
            display: block;
        }

        p {
            font-size: 13px;
            color: #888888;
            font-weight: 300;
            margin-bottom: 30px;
            line-height: 24px;
            text-align: left;
        }
        
        > a {
            font-weight: 700;
            color: #333333;
            text-transform: uppercase;
            font-size: 11px;
            margin-bottom: 15px;
            display: inline-block;
            position: relative;

            &:after {
                background: url('../img/icono-blog-flecha.png');
                content: '';
                position: absolute;
                right: -30px;
                top: 9px;
                height: 11px;
                width: 15px;
            }

            span {
                display: inline-block;
                color: #333333;
                font-size: 20px;
                margin-right: 10px;
            }
        }
    }

    @include element('article-socials') {
        text-align: left;
        a {
            display: inline-block;
            background: #fe9802;
            border-radius: 50%;
            height: 25px;
            text-align: center;
            margin-right: 15px;
            line-height: 27px;
            width: 25px;

            span {
                display: inline-block;
                transition: color $transition_duration;
                font-size: 12px;
                color: #fff;
            }

            &:hover {
                color: #444444 - 50;
            }
        }
    }   
    
    @include element('loadMore') {
        font-size: 13px;
        color: #fff;
        background: $color_brand;
        line-height: 45px;
        display: inline-block;
        padding: 0px 40px;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 33px;         

        &:hover {
            color: #fff;
            background: $color_brand2;
            text-decoration: none;
        }
    }
}

@include component('modalCupon') {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 9999;
    @media(max-width: 992px) {
         display: none !important;
         width: 100%;
    }

    @include element('overlay') {
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.8);
        z-index: 99995;
    }

    @include element('wrapper') {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 99999;
        width: 100%;
        max-width: 900px;
    }

    @include element('info') {
        background: $color_brand2;
        height: 1%;
        overflow: hidden;
        padding: 0px 107px 0px 50px;
        width: 100%;
        position: relative;
        margin-bottom: 10px;
    }

    @include element('text') {
        float: left;
        padding: 40px 100px 30px 0px;
        width: 70%;

        span {
            margin-bottom: 10px;
            display: block;
        }

        h1 {
            font-size: 35px;
            margin-bottom: 20px;
            font-family: 'Hind', sans-serif;
            font-weight: 300;
            line-height: 36px;
            position: relative;
            color: #fff;

            strong {
                font-size: 42px;
                color: #0074c8;
                font-style: italic;
                font-weight: 700;
                position: relative;
                z-index: 10;
            }

            &:after {
                background: url('../img/Monito.png');
                content: '';
                height: 107px;
                position: absolute;
                top: -30px;
                left: 200px;
                width: 69px;
                z-index: 1;
            }
        }

        > p {
            color: #fff;
            font-size: 16px;
            line-height: 22px;
            margin-bottom: 40px;
            font-family: 'Open Sans Condensed', sans-serif;
            font-weight: 400;
        }
    }

    @include element('valido') {
        text-align: left;
        margin-bottom: 10px;
        position: relative;

        p {
            background: #fff;
            display: inline-block;
            border-bottom-left-radius: 20px;            
            color: #0065c2;
            line-height: 40px;
            font-size: 14px;
            font-family: 'Open Sans Condensed', sans-serif;
            padding-left: 20px;
            padding-right: 10px;
            font-weight: 700;
        }

        &:after {
            background: url('../img/popup-saval-logo.png');
            content: '';
            height: 79px;
            width: 79px;
            position: absolute;
            right: 0px;
            top: -36px;
        }
    }

    @include element('input-agree') {
        color: #fff;
        text-align: center;
        font-weight: 700;

        input {
            margin-right: 10px;
        }        
    }

    @include element('codigos') {
        background: #fff;
        position: absolute;
        height: 100%;
        right: 100px;
        text-align: center;
        color: #fff;
        width: 25%;
    }

    @include element('center') {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 0px 25px;
        width: 100%;
    }

    @include element('item') {
        margin-bottom: 25px;
        &:last-child {
            margin-bottom: 0px;
        }

        img {
            width: 100%;
        }
    }

    @include element('buttons') {
        background: $color_brand2;
        text-align: center;
        padding: 20px 0px;

        a {
            display: inline-block;
            background: #0074c8;
            color: #fff;
            text-transform: uppercase;
            font-weight: 700;
            padding: 10px 30px;
            font-size: 12px;
            margin-right: 7px;
            transition: all 250ms;
            &:last-child {
                margin-right: 0px;
            }

            &:hover {
                background: #0074c8 - 50;
                text-decoration: none;
            }
        }
    }
}

@include component('modalMobile') {
    position: fixed;
    top: 0px;
    height: 100%;
    width: 100%;
    left: 0px;
    z-index: 995;
    display: none;
    @media(max-width: 992px) {
        display: block;
    }

    @include element('overlay') {
        background: #0074C5;
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 100%;
        z-index: 998;
    }

    @include element('wrapper') {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 999;
        padding: 20px 0px 20px;
        width: 95%;
    }

    @include element('firstStep') {
        border-radius: 20px;
        padding: 20px 0px 20px;
        background: #fff;
        display: none;
        @include modifier('active') {
            display: block;
        }

        span {
            padding: 0px 30px;
            margin-bottom: 10px;
            display: block;
        }

        h1 {
            font-size: 35px;
            margin-bottom: 20px;
            font-family: 'Hind', sans-serif;
            font-weight: 300;
            line-height: 36px;
            padding-left: 30px;
            position: relative;
            color: #000;

            strong {
                font-size: 42px;
                color: #0074c8;
                font-style: italic;
                font-weight: 700;
                position: relative;
                z-index: 10;
            }

            &:after {
                background: url('../img/Monito.png');
                content: '';
                height: 107px;
                position: absolute;
                top: -30px;
                left: 220px;
                width: 69px;
                z-index: 1;
            }
        }
    }

    @include element('text') {
        background: $color_brand2;
        padding: 20px;
        margin-bottom: 20px;

        p {
            color: #fff;
            line-height: 18px;
        }
    }

    @include element('valido') {
        text-align: center;

        p {
            background: $color_brand;
            display: inline-block;
            border-bottom-left-radius: 20px;            
            color: #fff;
            line-height: 40px;
            font-size: 14px;
            font-family: 'Open Sans Condensed', sans-serif;
            padding-left: 20px;
            padding-right: 10px;
            font-weight: 700;            
        }
    }

    @include element('input-agree') {
        text-align: center;
        margin-bottom: 15px;

        input {
            margin-right: 10px;
        }
    }

    @include element('btn') {
        background: $color_brand2;
        color: #fff;
        padding: 5px 10px;
        display: block;
        max-width: 130px;
        margin: 0px auto;
        text-align: center;
        &:hover {
            text-decoration: none;
            color: #fff;
        }
    }

    @include element('secondStep') {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        overflow: hidden;
        max-width: 450px;
        display: none;

        @include modifier('active') {
            display: block;
        }
    }

    @include element('item') {
        background: #fff;
        height: 1%;
        overflow: hidden;
        padding: 20px 20px;
        margin-bottom: 10px;
        position: relative;
        &:last-child {
            margin-bottom: 0px;
        }
    }

    @include element('image') {
        float: left;
        padding: 0px 10px;
        width: 60%;

        img {
            width: 100%;
        }
    }

    @include element('info') {
        float: left;
        width: 40%;
        text-align: center;
        padding-top: 20px;

        h2 {
            font-size: 16px;
            line-height: 20px;
            font-weight: 300;
        }
    }

    @include element('codigo') {
        position: absolute;
        bottom: 0px;
        right: 0px;
        background: $color_brand;
        padding: 15px 5px 10px 20px;
        border-top-left-radius: 10px;

        span {
            font-size: 22px;
            color: #fff;
            
            a {
                color: #fff;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }

    @include element('btnMobile') {
        background: $color_brand2;
        padding: 20px 10px;
        text-align: center;

        a {
            color: #fff;
            background: $color_brand;
            text-transform: uppercase;
            padding: 5px 10px;
        }
    }
}
