@include component('contacto') {
    padding: 90px 0px;
    height: 1%;
    overflow: hidden;
    @media(max-width: 992px) {
        padding: 0px;
    }

    @include element('box') {
        float: left;
        width: 50%;
        @media(max-width: 992px) {
            width: 100%;
        }

        @include modifier('pad40') {
            padding: 40px;
            @media(max-width: 992px) {
                padding: 40px 15px;
            }
        }

        img {
            height: auto;
            line-height: 0px;
            display: block;
            width: 100%;
        }

        .c-info__h1 {
            span {
                @media(max-width: 992px) {
                    font-size: 18px;
                    padding-left: 25px;
                }
            }
        }
    }

    @include element('form') {
        form {
            height: 1%;
            overflow: hidden;

            .input {
                float: left;
                margin-bottom: 12px;
                padding: 0px 5px;
                width: 50%;  
                @media(max-width: 750px) {
                    width: 100%;
                }                 
                
                input {
                    height: 35px;
                    border: 1px solid #d2d2d2;
                    padding: 0px 20px;
                    outline: none;
                    border-radius: 0px;
                    appearance: none;
                    font-size: 11px;
                    width: 100%;
                }

                &.large {
                    width: 100%;
                }

                textarea {
                    border: 1px solid #d2d2d2;
                    height: 170px;
                    padding: 20px;
                    resize: none;
                    font-size: 11px;
                    border-radius: 0px;
                    appearance: none;
                    width: 100%;
                    outline: none;
                }

                &.submit {
                    float: right;
                    width: auto;

                    input {
                        background: #1896f1;
                        height: 45px;
                        width: 150px;
                        text-align: center;
                        font-weight: 700;
                        text-transform: uppercase;
                        transition: background 250ms;
                        cursor: pointer;
                        color: #fff;
                        border: none;

                        &:hover {
                            background: #1896f1 - 50;
                        }
                    }
                }
            }            
        }
    }
}