@include component('faq') {
    padding: 150px 0px;
    @media(max-width: 992px) {
        padding: 60px 10px;
    }

    @include element('item'){
        border: 1px solid #f2f2f2;
        transition: all 250ms;
        cursor: pointer;
        margin-bottom: 2px;
        &:hover {
            background: $color_brand2;

            .c-faq__title {
                h2 {
                    color: #fff;
                }
            }

            .c-faq__info {
                max-height: 500px;
            }
        }
    }

    @include element('title') {
        height: 1%;
        padding: 25px 33px;
        overflow: hidden;
        position: relative;
        @media(max-width: 700px) {
            padding-right: 50px;
        }
        
        h2 {
            font-size: 15px;
            color: #333333;
            float: left;
        }

        a {
            float: right;
            height: 25px;
            display: block;
            width: 25px;
            background: #0074c8;
            color: #fff;
            text-align: center;
            border-radius: 50%;
            font-size: 11px;
            line-height: 26px;
            @media(max-width: 700px) {
                position: absolute;
                right: 20px;
                top: 50%;
                transform: translateY(-50%);
            }

            &:hover {
                background: #0074c8 - 50;
            }
        }
    }

    @include element('info') {
        max-height: 0;
        transition: max-height 250ms;
        background: #eeeeee;
        overflow: hidden;

        .inner {
            padding: 28px;
        }
        

        p {
            margin: 0;
        }
    }
}