@include component('info') {
    @include element('h1') {
        display: block;
        position: relative;
        padding: 12px 0px 0px 12px;
        @include modifier('font20'){
            span {
                font-size: 20px !important;
                padding: 12px 20px !important;
            }
        }

        span {
            background: $color_brand;
            color: #fff;            
            border-right: 8px solid $color_brand2;
            padding: 0px 40px;
            line-height: 60px;
            display: inline-block;
            font-size: 30px;
            font-weight: 700;
            position: relative;
            z-index: 10;

            &:after {
                background: url('../img/titulo-after.svg') no-repeat;            
                position: absolute;
                right: 0px;
                top: 0px;
                height: 100%;
                content: '';
                opacity: 0.1;
                width: 50px;
                z-index: 1;
            }            
        }

        &:after {
            background: $color_brand2;
            content: '';
            height: 50px;
            position: absolute;
            top: 0px;
            left: 0px;
            width: 50px;
            z-index: 1;
        }

        @include modifier('inline-block') {
            display: inline-block;
        }
    }

    @include element('parrafo') {
        font-size: 14px;
        color: #000;
        line-height: 24px;
        font-size: 15px;
        font-weight: 400;
        margin-bottom: 30px;
        font-family: 'Raleway', sans-serif;
    }

    @include element('link') {
        background: $color_brand2;
        line-height: 46px;
        display: block;
        float: left;
        padding: 0px 30px;
        color: #fff;
        font-size: 11px;
        text-transform: uppercase;
        transition: background $transition_duration;
        cursor: pointer;
        font-weight: 700;
        width: auto;
        position: relative;
        z-index: 90;

        span {
            margin-right: 9px;
            font-size: 18px;
            vertical-align: top;
            display: inline-block;
            line-height: 41px;
        }

        &:hover {
            background: $color_brand2 - 50;
        }

        @include modifier('marLeft30') {
            margin-left: 30px;
        }

        @include modifier('mobileInline') {
            @media(max-width: 992px) {
                display: inline-block !important;
                float: none;
            }
        }        
    }
}

@include component('homeAbout') {
    padding: 138px 0px 116px;
    position: relative;
    overflow: hidden;
    @media(max-width: 992px) {
        padding: 20px 0px;
    }    

    @include element('info') {
        height: 1%;
        overflow: hidden;
        margin: 0px auto;
        position: relative;
        width: 1170px;
        z-index: 10;
        @media(max-width: 1200px) {
            width: 992px;
        }

        @media(max-width: 992px) {
            width: 100%;
        }        
    }

    @include element('icon') {
        background: $color_brand2;
        position: absolute;
        top: 0px;
        height: 100%;
        left: 0px;
        width: 33.3%;
        z-index: 1;
        @media(max-width: 992px) {
            display: none;
        }        

        img {
            position: absolute;
            bottom: 0px;
            height: 100%;
            max-height: 670px;
            max-width: 558px;
            opacity: 0.1;
            width: 100%;
            right: 0px;
        }
    }

    @include element('image') {
        background: rgba(255, 255, 255, 0.2);
        padding: 9px;
        margin-right: 5.1%;
        float: left;
        width: 37.6%;
        @media(max-width: 992px) {
            display: none;
        }

        img {
            height: auto;
            width: 100%;
        }
    }    

    @include element('description') {
        float: left;
        margin: 104px 0px;
        width: 57.3%;
        @media(max-width: 1200px) {
            margin: 55px 0px;
        }   
        @media(max-width: 992px) {
            text-align: center;
            padding: 0px 30px;
            margin: 20px 0px;
            width: 100%;
        } 
        
        @media(max-width: 600px) {
            padding: 0px 5px;
        }         

        h1 {
            @media(max-width: 992px) {
                display: inline-block;
            }               

            span {
                font-size: 20px !important;
                @media(max-width: 992px) {
                    font-size: 16px !important;
                    padding: 10px 0px;
                    line-height: 22px;
                }                   
            }
        }       
    } 
    
    &:after {
        background: url('../img/Patter-1.png');
        height: 712px;
        content: '';
        position: absolute;
        right: 0px;
        top: 0px;
        opacity: 0.2;
        width: 1125px;
    }
}

@include component('savalInfo') {
    @media(max-width: 992px) {
        display: none;
    }

    @include element('boxes') {
        height: 1%;
        overflow: hidden;
    }

    @include element('box') {
        float: left;
        padding: 90px 50px 85px;
        height: 485px;
        width: 33.3%;
        position: relative;
        @media(max-width: 1200px) {
            height: 450px;
        }

        &:nth-of-type(1) {
            &:before {
                position: absolute;
                height: 60px;
                width: 60px; 
                content: '';
                top: 90px;
                right: -30px;
                background: url('../img/home-savalinfo-icon.png');
                background-size:60px 60px;
                z-index: 999;
            }
        }

        &:nth-of-type(2) {
            &:before {
                position: absolute;
                height: 60px;
                width: 60px; 
                content: '';
                top: 90px;
                right: -30px;
                background: url('../img/home-savalinfo-icon.png');
                background-size:60px 60px;
                z-index: 999;
            }
        }        


        h2 {
            font-size: 35px;
            line-height: 40px;
            color: #fff;
            border-left: 15px solid #6db9da;
            padding-left: 15px;
            margin-bottom: 20px;
            font-weight: 400;
            @media(max-width: 1200px) {
                font-size: 25px;
                line-height: 34px;
            }             

            strong {
                font-weight: 700;
            }
        }

        h3 {
            font-size: 28px;
            font-weight: 400;
            color: #fff;
            line-height: 40px;
            margin-bottom: 18px !important;
            @media(max-width: 1200px) {
                font-size: 25px;
                line-height: 34px;
            }     
            
            small {
                font-size: 15px;
            }

            strong {
                font-weight: 700;
            }
        }

        ul {
            li {
                color: #fff;
                margin-bottom: 13px;

                span {
                    display: inline-block;
                    margin-right: 20px;
                    vertical-align: middle;
                    width: 22.3px;

                    img {
                        width: 100%;
                    }
                }

                i {
                    font-style: initial;
                    display: inline-block;
                    font-family: 'Raleway', sans-serif;
                    vertical-align: middle;
                    font-size: 15px;
                    width: 75.7%;
                }

                &:last-child {
                    margin-bottom: 0px;
                }
            }
        }

        p {
            font-size: 14px;
            line-height: 24px;
            color: #fff;
            padding-left: 30px;
            font-family: 'Raleway', sans-serif;
            font-size: 15px;
            margin-bottom: 28px;
            position: relative;
            z-index: 10;
        }

        .gallery {
            overflow: hidden;

            figure {
                float: left;
                margin: 0px;
                padding: 5px;
                width: 33.3%;    

                img {
                    width: 100%;
                }
            }
        }

        @include modifier('darkBlue') {
            background: #00487f;
        }

        @include modifier('middleBlue') {
            background: #0363ad;
        }    

        @include modifier('lightBlue') {
            background: #0682e0;
            padding: 90px 110px 49px;
            @media(max-width: 1700px) {
                padding: 90px 80px 49px;
            }

            @media(max-width: 1500px) {
                padding: 90px 50px 49px;
            }           
            
            @media(max-width: 1300px) {
                padding: 90px 20px 49px;
            }                       

            h3 {
                margin-bottom: 32px;
                line-height: 33px;
            }
        } 
        
        @include modifier('patterBg') {
             background: #00487f;
            position: relative;

            &:after {
                background: url('../img/Patter-2-Cuadro-azul.png');
                opacity: 0.6;
                content: '';
                position: absolute;
                bottom: 0px;
                right: 0px;
                height: 241px;
                width: 322px;
            }
        }   
        
        @include modifier('iconBg') {
            background: #0682e0;
            position: relative;

            &:after {
                background: url('../img/titulo-after.svg') no-repeat;
                opacity: 0.1;
                content: '';
                position: absolute;
                bottom: 0px;
                right: -25%;
                height: 100%;
                width: 350px;
            }
        }           
    }
}

@include component('savaTemas') {
    padding: 55px 0px;
    text-align: center;

    @media(max-height: 1300px) {
        padding: 60px 30px;
    }    

    @media(max-width: 992px) {
        padding: 20px 0px;
    }

    h1 {
        margin-bottom: 40px;

        @media(max-width: 600px) {
            width: 90%;
        }        

        span {
            @media(max-width: 600px) {
                font-size: 16px;   
                line-height: 22px;
                padding: 12px 20px!important;
                width: 100%;
            }
        }
    }

    @include element('bajada') {
        color: #333333;
        position: relative;
        top: -10px;
        line-height: 22px;
        font-family: 'Raleway', sans-serif;
        max-width: 640px;
        font-size: 15px;
        margin: 0px auto 60px;
        @media(max-width: 992px) {
            margin: 0px auto 50px;
            top: -5px;
            width: 70%;
        }

        strong {
            font-weight: 700px;
            display: block;
        }
    }

    @include element('boxes') {
        height: 1%;
        overflow: hidden;
        padding: 0px 11px;
        @media(max-width: 1050px) {
            padding: 0px 50px;
        }          

        @media(max-width: 600px) {
            padding: 0px 25px;
        }        
    }

    @include element('box') {
        float: left;
        width: 33.3%;
        text-align: left;
        border-left: 1px solid #d2d2d2;
        padding: 20px 50px 40px;
        height: 345px;
        position: relative;
        @media(max-width: 1050px) {
            width: 50%;
        } 
        
        @media(max-width: 800px) {
            border-left: none;
            border-bottom: 2px solid #e6e6e6;
            padding: 20px 20px 40px;
            height: auto;
            width: 100%;
        } 

        @media(max-width: 600px) {
            padding-bottom: 0px;
        }         
    

        figure {
            display: inline-block;
            margin: 0;
            margin-right: 15px;
            text-align: left;
            vertical-align: middle;
            width: 50px;
            @media(max-width: 600px) {
                padding-left: 20px;
                margin-right: 25px;
            }

            img {
                display: inline-block;
                width: 32px;
            }
        }

        span {
            font-size: 20px;
            vertical-align: initial;
            color: #0074c8;
            font-weight: 700;
        }

        p {
            margin-top: 30px;
            display: block;
            color: #666666;
            line-height: 20px;
            font-family: 'Raleway', sans-serif;
            margin-bottom: 30px;
            font-size: 13px;
            font-weight: 400;
            @media(max-width: 600px) {
                max-height: 0px;
                overflow: hidden;
                margin-bottom: 0;
            }
        }

        a {
            position: absolute;
            bottom: 40px;
            left: 50px;
            @media(max-width: 600px) {
                display: none;
            }            
            span {
                color: $color_brand2;
                margin-right: 6px;
            }

            &:hover {
                text-decoration: none;
            }
        }

        .icon {
            background: url('../img/temas-arrow-icon.png') no-repeat center center $color_brand2;
            height: 22px;
            position: absolute;
            top: 20px;
            left: -11px;
            width: 22px;
        }
    }    
}

@include component('homeBlog') {
    padding: 50px 0px;
    @media(max-width: 600px) {
        text-align: center;
    }

    h1 {
        @media(max-width: 1300px) {
            margin-left: 20px;
        }
        
        @media(max-width: 600px) {
            text-align: center;
            display: inline-block;
            width: 90%;
        }        

        span {
            font-size: 25px;

            @media(max-width: 600px) {
                font-size: 16px;   
                line-height: 22px;
                padding: 12px 20px!important;
                width: 100%;
            }
        }
    }    

    @include element('articles') {
        height: 1%;
        overflow: hidden;
        padding-bottom: 40px;
    }

    @include element('article') {
        float: left;
        padding: 0px 12px;
        width: 33.3%;
        @media(max-width: 700px) {
            margin-bottom: 40px;
            width: 100%;
        }
    }

    @include element('article-image') {
        img {
            width: 100%;
        }
    }
    
    @include element('article-inner') {
        box-shadow: 0 3px 40px rgba(0,0,0,0.10), 0 10px 10px rgba(0,0,0,0.10);
    }

    @include element('article-info') {
        background: #fff;
        padding: 28px 20px 30px;

        h2 {
            font-size: 20px;
            color: #1896f1;
            font-weight: 700;
            margin-bottom: 8px;
        }

        span {
            font-size: 13px;
            color: #777777;
            margin-bottom: 10px;
            display: block;
        }

        p {
            font-size: 13px;
            color: #888888;
            font-weight: 400;
            margin-bottom: 30px;
            line-height: 24px;
        }
        
        > a {
            font-weight: 700;
            color: #333333;
            text-transform: uppercase;
            font-size: 11px;
            margin-bottom: 15px;
            display: inline-block;
            position: relative;

            &:after {
                background: url('../img/icono-blog-flecha.png');
                content: '';
                position: absolute;
                right: -30px;
                top: 9px;
                height: 11px;
                width: 15px;
            }

            span {
                display: inline-block;
                color: #333333;
                font-size: 20px;
                margin-right: 10px;
            }
        }
    }

    @include element('article-socials') {
        a {
            display: inline-block;
            height: 30px;
            text-align: center;
            margin-right: 10px;
            border-radius: 50%;
            width: 30px;
            line-height: 32px;
            background: #fe9802;

            span {
                display: inline-block;
                transition: color $transition_duration;
                font-size: 14px;
                color: #fff;
            }

            &:hover {
                color: #444444 - 50;
            }
        }
    }
}