@include component('newsletter') {
    background: $color_brand2;
    padding: 45px 0px;

    @include element('info') {
        float: left;
        text-align: right;
        padding-right: 40px;
        width: 50%;
        @media(max-width: 992px) {
            text-align: center;
            padding-right: 0px;
            width: 100%;
        }


        h1 {
            color: #fff;
            font-size: 28px;
            line-height: 30px;
            margin-bottom: 5px;
            @media(max-width: 600px) {
                font-size: 20px;
                margin-bottom: 0px;
            }
        }

        p {
            color: #fff;
            font-size: 14px;
            font-weight: 300;
            @media(max-width: 600px) {
                font-size: 14px;
            }            
        }
    }

    @include element('form') {
        float: left;
        width: 50%;
        @media(max-width: 992px) {
            margin: 0px auto;
            float: initial !important;
            width: 90% !important;
        }        

        form {
            .icon {
                float: left;
                height: 46px;
                background: #1896f1;
                width: 10%;
                text-align: center;
                line-height: 46px;
                font-size: 20px;
                @media(max-width: 992px) {
                    width: 15%;
                }                     
            }

            .input {
                float: left;
                width: 50%;
                @media(max-width: 992px) {
                    width: 65%;
                }                 

                input {
                    height: 46px;
                    border: none;
                    outline: none;
                    padding: 0px 10px;
                    width: 100%;
                }

                &.submit {
                    float: left;
                    width: 20%;

                    input {
                        background: #00487f;
                        color: #fff;
                        text-transform: uppercase;
                        font-weight: 700;
                    }
                }
            }
        }
    }
}