extends layouts/default.pug

block vars
    - var pageTitle = 'Programa de descuentos'

block content
    .c-breadcrumb
        .c-inner
            ul
                li
                    a(href="#") Home /
                li
                    a(href="#") Planes de descuentos
    .c-planesAbout
        .c-planesAbout__icon
            img(src="img/home-about-icon.svg")
        .c-planesAbout__info
            .c-planesAbout__image
                img(src="img/planes-descuentos-info.png")
            .c-planesAbout__description
                h1.c-info__h1.u-mb30.c-info__h1--font20
                    span Programa de descuento en medicamentos SAVAL
                p.c-info__parrafo Este programa tiene como objetivo favorecer el acceso a medicamentos de alta calidad a través de descuentos que faciliten el cumplimiento de la terapia que el médico ha indicado. Dichos descuentos en dinero se hacen efectivos al momento de realizar la compra de uno o más de los medicamentos incluidos en este programa.
    .c-beneficios
        .c-inner
            .c-beneficios__title
                h2 ¿Por qué 
                    strong inscribirse 
                    | en el programa 
                    strong BienEstar SAVAL?
                p Porque a través de estos descuentos tendrás acceso a medicamentos de alta calidad y tecnología,  certificados según normas internacionales.
            .c-beneficios__lista
                ul
                    li 
                        i.c-number 1 
                        span Los medicamentos incluidos en el programa son en su mayoría para el tratamiento de las enfermedades más frecuentes.
                    li 
                        i.c-number 2
                        span Los medicamentos SAVAL son fabricados con alta tecnología farmacéutica y certificados según normas internacionales.
                    li 
                        i.c-number 3
                        span El programa BienEstar SAVAL incluye también fármacos para las enfermedades crónicas y agudas más prevalentes.
                    li 
                        i.c-number 4
                        span Más de 90 medicamentos de Laboratorios SAVAL con importantes descuentos para cumplir con la terapia indicada por el médico.
    .c-comoAcceder
        .c-inner
            h1 ¿Cómo 
                strong Acceder al programa?

            .c-comoAcceder__items
                .c-comoAcceder__item
                    .icon
                        img(src="img/planes-icon-1.png")
                    p Verifique si el o los medicamentos recetados tienen descuento, para esto, utilice el buscador seleccionando marca y/o presentación.
                .c-comoAcceder__item
                    .icon
                        img(src="img/planes-icon-2.png")
                    p Si su medicamento tiene descuento usted puede imprimir, guardar, o enviar a través de SMS (desde móviles) el cupón de descuento correspondiente.
                .c-comoAcceder__item
                    .icon
                        img(src="img/planes-icon-3.png")
                    p Una vez que tenga en su poder el cupón junto a la receta médica, puede dirigirse a cualquier farmacia adherida al programa, inscribirse y quedar habilitado para obtener el descuento en forma inmediata.
    .c-buscadorMedicamentos
        h1 Buscador de descuento en medicamentos

        .c-buscadorMedicamentos__form
            form(action="#")
                .select.brand
                    label(for="#") Seleccione marca
                    select(name="")
                        option(value="#") Marca
                .select.brand
                    label(for="#") Seleccione presentación
                    select(name="")
                        option(value="#") Marca
                .input.submit
                    button Buscar
    .c-buscadorResultados
        .c-inner
            h1 Resultados
            .c-buscadorResultados__items
                each item in [1,2,3,4]
                    .c-buscadorResultados__item
                        p strong Cefirax ® Cefpodoxima - 10 Comprimidos recubiertos
                        .actions
                            span $-3.000
                            a.buscadorResultados__button(href="#") Generar cupón
            .c-buscadorResultados__text
                p Recuerde que el cupón de descuento es válido sólo al momento de inscribirse en las farmacias adheridas. Imprimir sólo un cupón para los medicamentos contenidos en una receta.
                a(href="#") descargar lista completa de medicamentos con descuento
    .c-asociados
        .c-inner
            h1 Farmacias adheridas al programa 
                strong BienEstar SAVAL
            .c-asociados__logos
                .c-asociados__logo
                    img(src="img/brands-salcobrand.png")
                .c-asociados__logo
                    img(src="img/brands-ahumada.png")
                .c-asociados__logo
                    img(src="img/brands-cruzverde.png")
                .c-asociados__logo
                    img(src="img/brands-carmen.png")
                .c-asociados__logo
                    img(src="img/brands-redfarma.png")
    .c-mapa
        #map
        .c-mapa__search
            h1 ¿No sabe donde está la farmacia más cercana?
            p ¡No se preocupe, nosotros le ayudamos!
            
            .c-mapa__searchBox
                form(action="")
                    .input.address
                        input(type="text" placeholder="Ingrese su dirección")
                    .input.submit
                        input(type="submit" value="Buscar")
            each item in [1,2,3]
                .c-mapa__item
                    p
                        strong Farmacia Ahumada
                    p Av. los leones 1160
                    p Abierto hasta 00:00

                    a(href="#") ¿Cómo llegar?

    .c-modalCupon(style="display:none;")
        .c-modalCupon__overlay
        .c-modalCupon__wrapper
            .c-modalCupon__info
                .c-modalCupon__text
                    span
                        img(src="img/nuevo.png")    
                    h1 Programa de 
                        br
                        strong Descuento 
                        br
                        | en medicamentos
                    p Descuento válido del 01 de marzo de 2018 al 31 de diciembre de 2018, ambas fechas inclusive. Consulte por la disponibilidad de los productos en Farmacias Ahumada, Farmacias Salco Brand, Farmacias Cruz Verde,  y en todas las farmacias adheridas a este programa. 
                        br
                        | No acumulables a otras promociones, ofertas y/o convenios. NO SE AUTOMEDIQUE. Todo medicamento debe ser prescrito por su médico. Consulte siempre el uso de medicamentos con su médico o químico farmacéutico. Dispensación de medicamentos se realizará conforme condición de venta según normativa vigente.
                    .c-modalCupon__valido
                        p Programa válido del: 01/03/2018 al 31/12/2018
                    .c-modalCupon__input-agree
                        input(type="checkbox")
                        | He leído y aceptado los términos
                .c-modalCupon__codigos
                    .c-modalCupon__center
                        .c-modalCupon__item
                            img(src="img/barra-1.png")
                        .c-modalCupon__item
                            img(src="img/barra-2.png")
                        .c-modalCupon__item
                            img(src="img/barra-3.png")
            .c-modalCupon__buttons
                a(href="#")
                    span
                    | Guardar
                a(href="#")
                    span 
                    | Imprimir
                a(href="#") Enviar por correo
                a(href="#") Enviar por mensaje de texto
    .c-modalMobile(style="display:none;")
        .c-modalMobile__overlay
        .c-modalMobile__wrapper
            .c-modalMobile__firstStep.c-modalMobile__firstStep--active
                span
                    img(src="img/nuevo.png")    
                h1 Programa de 
                    br
                    strong Descuento 
                    br
                    | en medicamentos
                .c-modalMobile__text
                    p Descuento válido del 01 de marzo de 2018 al 31 de diciembre de 2018, ambas fechas inclusive. Consulte por la disponibilidad de los productos en Farmacias Ahumada, Farmacias Salco Brand, Farmacias Cruz Verde,  y en todas las farmacias adheridas a este programa. No acumulables a otras promociones, ofertas y/o convenios. NO SE AUTOMEDIQUE. Todo medicamento debe ser prescrito por su médico. Consulte siempre el uso de medicamentos con su médico o quími
                .c-modalMobile__valido
                    p Programa válido del: 01/03/2018 al 31/12/2018
                .c-modalMobile__input-agree
                    input(type="checkbox")
                    | He leído y aceptado los términos
                a.c-modalMobile__btn(href="#") Obtener cupón
            .c-modalMobile__secondStep
                .c-modalMobile__item
                    .c-modalMobile__image
                        img(src="img/barra-1.png")
                    .c-modalMobile__info
                        h2 Escanee el código de barra o digítelo
                    .c-modalMobile__codigo
                        span 1231231231
                .c-modalMobile__item
                    .c-modalMobile__image
                        img(src="img/barra-2.png")
                    .c-modalMobile__info
                        h2 Escanee el código de barra o digítelo
                    .c-modalMobile__codigo
                        span 1231231231
                .c-modalMobile__item
                    .c-modalMobile__image
                        img(src="img/barra-3.png")
                    .c-modalMobile__info
                        h2 Escanee el código de barra o digítelo
                    .c-modalMobile__codigo
                        span 1231231231      
                .c-modalMobile__btnMobile
                    a.c-modalMobile__btn-imprimir(href="#") Imprimir cupón
                
block append scripts

    script(src="js/map.js")