extends layouts/default.pug

block vars
    - var pageTitle = 'Quienes somos'

block content
    .c-breadcrumb
        .c-inner
            ul
                li
                    a(href="#") Home /
                li
                    a(href="#") Blog
    .c-AboutUs
        .c-AboutUs__icon
            img(src="img/home-about-icon.svg")
        .c-AboutUs__info
            .c-AboutUs__image
                img(src="img/about-thumb.png")
            .c-AboutUs__description
                h1.c-info__h1.u-mb30.c-info__h1--font20
                    span Quiénes Somos
                p.c-info__parrafo En Laboratorios SAVAL somos expertos en salud, porque llevamos más de 80 años entregando medicamentos de la más alta calidad en Chile y en 10 países de Latinoamérica. Esto, nos convirtió en el laboratorio más importante del país y en una de las 3 empresas farmacéuticas más relevantes del mercado local. No sólo destacamos por la calidad de nuestros productos, sino que también por el respeto a la dignidad de cada persona, la probidad de nuestras acciones y la transparencia en nuestros procesos, lo que es esencial para nuestra compañía
                h2 Un poco de historia...
                p.c-info__parrafo La historia de nuestro laboratorio, comenzó en España en los años 30, para continuar en Chile en la década del 40 aportando avances farmacológicos que desde entonces han contribuido a la protección de la salud a través de la entrega de medicamentos de alta calidad, necesarios e innovadores.
    .c-aboutGalery
        each item in [1,2,3,4,5]
            .c-aboutGalery__item
                img(src="img/about-gallery-1.png")
    .c-aboutInfo
        .c-aboutInfo__box
            h2 La calidad
            p El foco de nuestra compañía es la calidad, por lo que sólo utilizamos materias primas e insumos de proveedores certificados. Nuestra nueva planta, inaugurada el año 2012, cumple con exigentes normas sanitarias que se traducen en altos estándares de calidad y buenas prácticas de manufactura, lo que nos ha permitido estar certificados por el Instituto de Salud Pública (ISP) de Chile, en cumplimiento de las buenas prácticas de manufactura recomendadas por la Organización Mundial de la Salud (OMS) desde el año 2000.
            p Además, mediante un moderno sistema informático llevamos registro y respaldo, para resguardar la seguridad en el uso de medicamentos y responder así a las exigencias de los organismos regulatorios nacionales e internacionales
        .c-aboutInfo__box.c-aboutInfo__box--grey
            h2 Ámbitos de Acción
            p En 
                strong Laboratorios SAVAL 
                | contamos con una amplia gama de productos para diversos segmentos terapéuticos, dentro de los que destacan:
            ul
                li Broncopulmonar
                li Neurociencia
                li Cardiología
                li Oftarmología
                li Dermatología
                li Otorrinorangología
                li Gastroeneterología
                li Pediatría
                li Infectología
                li Salud Femenina
                li Manejo del dolor
                li Traumatología
                
block append scripts