.c-footerLocation
    .c-footerLocation__inner
        .c-footerLocation__boxes
            .c-footerLocation__box.c-footerLocation__box--lightOrange
                .c-footerLocation__icon
                    img(src="img/iconos/icon-location.svg", alt="Location")
                h2 Laboratorios Saval
                p Av. Presidente Eduardo Frei Montalva 4600 Renca - Santiago de Chile 
            .c-footerLocation__box.c-footerLocation__box--mediumOrange
                .c-footerLocation__icon.c-footerLocation__icon--mediumOrange
                    img(src="img/iconos/icon-phone.svg", alt="Location")
                h2 Teléfono
                p Mávil: (+56) 9 95678392
                    br
                    | Fijo : (+56) 800 123 456
            .c-footerLocation__box.c-footerLocation__box--darkOrange
                .c-footerLocation__icon.c-footerLocation__icon--darkOrange
                    img(src="img/iconos/icon-email.svg", alt="Location")
                h2 Email
                p contacto@estarbien.cl
                    br
                    |info@estarbien.cl            
footer.c-footer
    .c-inner
        .c-footer__boxes
            .c-footer__box
                figure
                    img(src="img/footer-logo.png", alt="Saval")
                p Programa de descuento en medicamentos. Laboratorios Saval, dando mas acceso a las personas
            .c-footer__box
                h2 Paginas
                ul 
                    li
                        a(href="#") Home
                    li
                        a(href="#") Quienes somos
                    li
                        a(href="#") Plan de descuentos
                ul 
                    li
                        a(href="#") Home
                    li
                        a(href="#") Quienes somos
                    li
                        a(href="#") Plan de descuentos
            .c-footer__box
                h2 Suscribete a nuestros Temas de interés
                p Mantente actualizado, recibe noticias, artículos y tips sobre vida saludable, solo debes suscribirte.
                form(action="#")
                    .input.email
                        input(type="text" placeholder="Email")
                    .input.submit
                        input(type="submit" value="Enviar")
.c-copyright
    .c-inner
        p © 2018 SAVAL. All rights reserved.
        a.c-copyright__link(href="#") www.saval.cl
        ul
            li
                a(href="#") Términos de uso 
            span -
            li
                a(href="#") Política de privacidad
        .clearfix
.c-madeIn
    .c-inner
        a(href="#") Diseñado y desarrollado por Ant Digital