.c-top
	.c-inner
		.c-top__nav
			ul
				li
					a(href="faq.html") FAQ
				li
					a(href="#") ayuda@estarbien.com
				li
					a(href="#") Terminos y condiciones
				//- li
				//- 	a(href="#") Mi cuenta
header.c-header
	.c-header__top
		.c-header__inner
			.c-header__brand
				img(src="img/header-logo.png", alt="Laboratorios Saval")
			.c-header__boxSearch
				.c-header__email
					span.icon-Correo
					p Email :  Ayuda@estarbien.com				
				.c-header__phone
					span.icon-Telefeno
					p Tel :  +(56) 22 456 7890
				.c-header__searh
					form(action="#")
						.input.search
							input(type="text" placeholder="Escribe lo que buscas")
						.icon
							span.icon-Lupa-02
				.clearfix
	.c-header__nav
		.c-inner
			nav
				ul
					li
						a(href="index.html") Home
					li
						a(href="quienes-somos.html") Quienes somos
					li
						a(href="planes-descuento.html") Plan de descuentos
					li
						a(href="index.html") Temas de interés
					li
						a(href="contacto.html") Contacto																								
			.c-header__nav-mobile
				a.c-header__mobile-open(href="#")
					span.fas.fa-bars
					i Menu
				a.c-header__mobile-account(href="#" style="display:none;")
					span.fas.fa-user-circle
					i Mi cuenta						
				a.c-header__mobile-search(href="#")
					span.icon-Lupa-02
					i ¿Qué buscas?									
			.c-header__brand.c-header__brand--mobile
				img(src="img/header-logo.png" alt="Laboratorios Saval")
						


